type bt_firmware_file, file_type;
type firmware_file, fs_type, contextmount_type;
type persist_file, file_type;

# Files in userdata
type vendor_qmipriod_data_file, file_type, data_file_type;

type vendor_sysfs_battery_supply, sysfs_type, fs_type;

#type wifi_vendor_data_file, file_type, data_file_type;
